Library/AnnotationManager
/Library
/Logs
*.gbc
*.obj
/Temp
/UserSettings/Layouts
/UserSettings
Assembly-CSharp-Editor.csproj
.vsconfig
Assembly-CSharp.csproj
goal-rush.sln
*.dwlt
/UserSettings/Layouts
UserSettings/Layouts/default-6000.dwlt
UserSettings/Layouts/default-6000.dwlt
/UserSettings/Layouts
/UserSettings
